In [47]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
clean_df.loc[17,"Undergraduate Major"] #Highest salary

'Economics'

In [48]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
clean_df.columns #Lowest start + After uni
clean_df.loc[49,"Undergraduate Major"]

'Spanish'

In [49]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
clean_df.loc[18,"Undergraduate Major"] #Lowest median mid 
clean_df.loc[18,"Mid-Career 90th Percentile Salary"] #Most expected from said career

np.float64(102000.0)

In [50]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
clean_df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [5]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(loc=1,column="Spread",value=spread_col)
low_risk = clean_df.sort_values(by="Spread")
low_risk[["Undergraduate Major","Spread"]].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [4]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
best_careers = clean_df.sort_values(by="Mid-Career 90th Percentile Salary",ascending=False)
best_careers[["Undergraduate Major","Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [14]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(loc=1,column="Spread",value=spread_col)
highest_spread = clean_df.sort_values(by="Spread",ascending=False)
highest_spread[["Undergraduate Major","Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [1]:
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format
df = pd.read_csv("salaries_by_college_major.csv")
df.head()
clean_df = df.dropna()
clean_df.groupby("Group").mean(numeric_only=True)

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00"